@media (max-width: 424px) {
  .video__player.container {
    max-width: initial;
  }
}

@media (min-width: 425px) {
  .video {
    &__description--mobile {
      display: none;
    }

    &__channel {
      width: initial;
    }
  }
}

@media (min-width: 576px) {
  .main-header {
    margin-bottom: var(--unit-8x);

    &__search {
      display: flex;
    }

    &__actions button:last-child {
      display: none;
    }
  }

  .video__actions-scroll--desktop {
    display: flex;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 93.75%;
  }
}

@media (min-width: 960px) {
}

@media (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1440px) {
}
