.main--desktop {
  display: none;
  margin-bottom: var(--unit-16x);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: var(--unit-16x);
  margin-top: var(--unit-8x);
  padding-bottom: var(--unit-16x);
  height: calc(100vh - 63px - 56.25vw - var(--unit-8x));
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
}
