&__comments--desktop {
  display: flex;
  flex-direction: column;
  gap: var(--unit-8x);
  padding: var(--unit-6x);
  background-color: var(--black-200);
  border-radius: var(--unit-6x);
  cursor: pointer;

  &:hover {
    background-color: var(--black-100);
  }

  * {
    font-size: var(--unit-7x);
  }

  .comments {
    &__comments {
      display: none;
      flex-direction: column;
      gap: var(--unit-8x);
    }

    &__header {
      display: flex;
      align-items: center;
      gap: var(--unit-6x);
      cursor: pointer;

      div {
        display: flex;
        align-items: center;
        gap: var(--unit-4x);

        strong {
          font-weight: 500;
        }

        span {
          opacity: 0.75;
        }
      }

      img {
        height: var(--unit-10x);
      }
    }

    &__less {
      display: none;
      font-weight: 500;
    }
  }
}

&__comments--desktop--active {
  cursor: initial;
  &:hover {
    background-color: var(--black-200);
  }

  .comments {
    &__header img {
      transform: rotate(180deg) translateY(- 0.1rem);
    }

    &__comments {
      display: flex;
    }

    &__expand {
      display: none;
    }

    &__less {
      display: flex;
    }
  }
}
