.video {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--unit-8x);

  &__player video {
    width: 100%;
  }

  &__infos {
    display: flex;
    flex-direction: column;
    gap: var(--unit-8x);
  }

  &__title {
    font-size: var(--unit-10x);
    font-weight: 500;
  }

  &__description {
    &__infos {
      span,
      strong {
        font-size: var(--unit-7x);
      }

      span {
        opacity: 0.75;
        transform: translateY(7.5%);
      }
    }
  }

  &__channel-actions {
    display: flex;
    justify-content: space-between;
    gap: var(--unit-8x);
  }

  @import "./channel";

  @import "./actions";

  @import "./comments";
}
