.video {
  display: flex;
  flex-direction: column;
  gap: var(--unit-8x);

  &__player-full-screen {
    display: flex;
    align-items: center;
  }

  @import "./player";

  &__infos {
    display: flex;
    flex-direction: column;
    gap: var(--unit-8x);

    @import "./comment";
    @import "./comments";
  }

  &__title {
    font-size: var(--unit-10x);
    font-weight: 500;
  }

  @import "./description-mobile";

  @import "./description-desktop";

  &__channel-actions {
    display: flex;
    justify-content: space-between;
    gap: var(--unit-8x);
  }

  @import "./channel";

  @import "./actions";

  @import "./comments-mobile";

  @import "./comments-desktop";
}
