&__player {
  display: flex;
  position: relative;

  video {
    width: 100%;
  }
}

&__player:hover &__timeline-controls {
  bottom: 0;
  transition: 0.1s
}

&__timeline-controls {
  position: absolute;
  bottom: -20%;
  width: 100%;
  background: linear-gradient(to top, rgba(40, 40, 40, 0.25), transparent);
}

&__timeline-container {
  display: flex;
  align-items: center;
  width: 95%;
  height: var(--unit-3x);
  margin: auto;
  cursor: pointer;
  

  &:hover .video__timeline {
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      width: var(--preview-position);
      height: 100%;
      background-color: var(--gray-100);
      border-radius: var(--unit-10x);
    }
  }
}

&__timeline {
  width: 100%;
  height: var(--unit-2x);
  background-color: var(--gray-100-25);
  position: relative;
  border-radius: var(--unit-10x);
  overflow: hidden;
  transition: all 0.1s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: var(--progress-position);
    height: 100%;
    background-color: var(--red-100);
    border-radius: var(--unit-10x);
  }
}

&__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;

  & > div {
    display: flex;
    align-items: center;
  }

  button {
    display: flex;
    padding: var(--unit-8x);

    span {
      width: var(--unit-9x);
      height: var(--unit-9x);
    }

    img {
      height: var(--unit-9x);
    }
  }

  &__play-pause.video__controls__play-pause--paused {
    img:first-child {
      display: none;
    }
  }

  &__play-pause:not(.video__controls__play-pause--paused) {
    img:last-child {
      display: none;
    }
  }

  &__volume {
    display: flex;
    align-items: center;
  }

  &__volume-btn {
    img {
      display: none;
    }

    &[data-volume="high"] img:first-child {
      display: flex;
    }

    &[data-volume="low"] img:nth-child(2) {
      display: flex;
    }

    &[data-volume="muted"] img:last-child {
      display: flex;
    }
  }

  &__volume-range {
    width: 0;
    height: 3px;
    transform: scale(0);
    transition: all 0.1s;
    background: var(--gray-100);
    border-radius: 100px;
    appearance: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: var(--unit-7x);
      width: var(--unit-7x);
      border-radius: 50%;
      background: var(--white-200);
    }
  }

  &__volume:hover &__volume-range {
    width: 50px;
    margin-right: var(--unit-7x);
    transform: scale(1);
  }

  &__duration {
    padding: 0 var(--unit-7x);
  }

  &__duration,
  &__duration * {
    font-size: var(--unit-6x);
  }

  &__autoplay.video__controls__autoplay--off {
    img:first-child {
      display: none;
    }
  }

  &__autoplay:not(.video__controls__autoplay--off) {
    img:last-child {
      display: none;
    }
  }

  &__captions.video__controls__captions--on {
    padding-bottom: calc(var(--unit-7x) - 6px);

    img {
      padding-bottom: 3px;
      border-bottom: 3px solid var(--red-100);
      box-sizing: initial;
    }
  }
}
