/* Error: Can't find stylesheet to import.
 *    ,
 * 22 |   @import "./description/description-mobile";
 *    |           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\components\video\_index.scss 22:11  @import
 *   scss\custom.scss 4:9                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 22 \2502    @import \"./description/description-mobile\";\d\a    \2502            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\components\\video\\_index.scss 22:11  @import\a   scss\\custom.scss 4:9                     root stylesheet";
}
