.container {
  max-width: 90%;
  width: 100%;
  margin: auto;
}

.avatar {
  width: var(--unit-16x);
  height: var(--unit-16x);
  border-radius: 50%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  gap: var(--unit-8x);
  align-items: center;
  padding: var(--unit-8x) 0;
}
.main-header h1 a img {
  height: var(--unit-12x);
}
.main-header button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header__search {
  display: none;
  justify-content: space-between;
  gap: var(--unit-8x);
  width: 50vw;
}
.main-header__search button {
  background-color: var(--black-200);
}
.main-header__search button img {
  height: var(--unit-10x);
}
.main-header__search button:hover {
  background-color: var(--black-100);
}
.main-header__search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid var(--black-100);
  border-radius: var(--unit-50x);
  overflow: hidden;
}
.main-header__search form input {
  width: 100%;
  padding: var(--unit-4x) var(--unit-8x);
  border: none;
  background-color: transparent;
}
.main-header__search form button {
  height: 100%;
  padding: 0 var(--unit-6x);
  border-left: 1px solid var(--black-100);
}
.main-header__search__microphone {
  flex-shrink: 0;
  width: var(--unit-20x);
  height: var(--unit-20x);
  border-radius: 50%;
}
.main-header__actions-profile {
  display: flex;
  align-items: center;
  gap: var(--unit-4x);
}
.main-header__actions {
  display: flex;
  align-items: center;
  gap: var(--unit-4x);
}
.main-header__actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--unit-20x);
  height: var(--unit-20x);
  border-radius: 50%;
}
.main-header__actions button img {
  width: var(--unit-10x);
}
.main-header__actions button:hover {
  background-color: var(--black-200);
}

.main-content {
  margin-top: var(--unit-8x);
  height: calc(100vh - 63px - 53.25vw - var(--unit-8x));
  overflow-y: scroll;
}
.main-content::-webkit-scrollbar {
  width: 0;
}

.video {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--unit-8x);
}
.video__player {
  display: flex;
}
.video__player video {
  width: 100%;
}
.video__infos {
  display: flex;
  flex-direction: column;
  gap: var(--unit-8x);
}
.video__title {
  font-size: var(--unit-10x);
  font-weight: 500;
}
.video__description--mobile .description * {
  font-size: var(--unit-7x);
}
.video__description--mobile .description__expand {
  margin-top: var(--unit-2x);
}
.video__description--mobile .description__expand * {
  font-size: var(--unit-7x);
}
.video__description--mobile .description__expand span {
  font-weight: 300;
  opacity: 0.75;
  transform: translateY(7.5%);
}
.video__description--mobile .description__expand strong {
  font-weight: 500;
}
.video__description--mobile .description__container {
  display: none;
  position: absolute;
  top: calc(56.25vw + 63px);
  left: 0;
  width: 100%;
  height: calc(100vh - 56.25vw - 63px);
  padding: 0 5%;
  padding-bottom: var(--unit-16x);
  background-color: var(--black-300);
  overflow-y: scroll;
  z-index: 1;
}
.video__description--mobile .description__container header {
  display: flex;
  flex-direction: column;
  gap: var(--unit-8x);
}
.video__description--mobile .description__container::-webkit-scrollbar {
  width: 0;
}
.video__description--mobile .description__container--active {
  display: block;
}
.video__description--mobile .description__header {
  position: fixed;
  top: calc(63px + 56.25vw);
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--unit-8x) 5%;
  border-bottom: 1px solid var(--black-100);
  background-color: var(--black-300);
  z-index: 1;
}
.video__description--mobile .description__header strong {
  font-size: var(--unit-9x);
  font-weight: 500;
}
.video__description--mobile .description__header img {
  height: var(--unit-10x);
}
.video__description--mobile .description__video-title {
  margin-top: 4.57rem;
  font-size: var(--unit-9x);
  font-weight: 500;
}
.video__description--mobile .description__infos {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--unit-8x);
  padding-bottom: var(--unit-8x);
  border-bottom: 1px solid var(--black-100);
  margin-bottom: var(--unit-8x);
}
.video__description--mobile .description__infos div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.video__description--mobile .description__infos div strong {
  font-weight: 500;
}
.video__description--mobile .description__infos div span {
  font-size: var(--unit-6x);
  font-weight: 300;
  opacity: 0.75;
}
.video__channel-actions {
  display: flex;
  justify-content: space-between;
  gap: var(--unit-8x);
}
.video__channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--unit-6x);
  flex-shrink: 0;
  width: 100%;
}
.video__channel__owner {
  display: flex;
  justify-content: flex-start;
  gap: var(--unit-6x);
}
.video__channel__owner .avatar {
  width: var(--unit-20x);
  height: var(--unit-20x);
}
.video__channel__owner div h3 {
  font-size: var(--unit-8x);
}
.video__channel__owner div span {
  color: var(--gray-100);
  font-size: var(--unit-6x);
}
.video__channel__subscribe {
  height: var(--unit-18x);
  padding: 0 var(--unit-8x);
  color: var(--black-300);
  font-size: var(--unit-6x);
  font-weight: 700;
  border-radius: var(--unit-20x);
  background-color: var(--white-200);
  transition: opacity 0.1s;
}
.video__channel__subscribe:hover {
  opacity: 0.75;
}
.video__actions-scroll {
  overflow-x: auto;
}
.video__actions-scroll::-webkit-scrollbar {
  height: 1px;
}
.video__actions-scroll::-webkit-scrollbar-track {
  background: var(--black-200);
  border-radius: var(--unit-2x);
}
.video__actions-scroll::-webkit-scrollbar-thumb {
  background-color: var(--white-200);
  border-radius: var(--unit-2x);
}
.video__actions-scroll--desktop {
  display: none;
}
.video__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--unit-4x);
  height: var(--unit-18x);
}
.video__actions__feedback,
.video__actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--black-200);
  border-radius: var(--unit-20x);
}
.video__actions button {
  gap: var(--unit-4x);
  padding: 0 var(--unit-8x);
  font-size: var(--unit-7x);
  font-weight: 500;
  border-radius: var(--unit-20x);
  background-color: var(--black-200);
  transition: background-color 0.1s;
}
.video__actions button img {
  height: 50%;
}
.video__actions button:hover {
  background-color: var(--black-100);
}
.video__actions__feedback {
  overflow: hidden;
}
.video__actions__feedback button {
  border-radius: initial;
}
.video__actions__feedback span {
  width: 1px;
  height: 70%;
  background-color: var(--white-200);
}
.video__actions__options {
  width: var(--unit-18x);
}
.video__actions--mobile {
  width: 32.234rem;
}
.video__actions--desktop {
  width: 21.12rem;
}
.video__comments--mobile * {
  font-size: var(--unit-7x);
}
.video__comments--mobile .comments__comments {
  display: flex;
  flex-direction: column;
  gap: var(--unit-8x);
}
.video__comments--mobile .comments__expand {
  width: 100%;
  padding: var(--unit-6x);
  background-color: var(--black-200);
  border-radius: var(--unit-6x);
}
.video__comments--mobile .comments__expand header {
  display: flex;
  align-items: center;
  gap: var(--unit-4x);
  margin-bottom: var(--unit-6x);
}
.video__comments--mobile .comments__expand header strong {
  font-weight: 500;
}
.video__comments--mobile .comments__expand header span {
  font-size: var(--unit-6x);
  opacity: 0.75;
  transform: translateY(7.5%);
}
.video__comments--mobile .comments__expand__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--unit-4x);
  overflow-y: scroll;
}
.video__comments--mobile .comments__expand__content img:last-child {
  height: var(--unit-10x);
}
.video__comments--mobile .comments__expand__content::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.video__comments--mobile .comments__expand__comment {
  display: flex;
  gap: var(--unit-6x);
}
.video__comments--mobile .comments__expand__comment p {
  display: flex;
  align-items: center;
}
.video__comments--mobile .comments__content {
  display: none;
  position: absolute;
  top: calc(56.25vw + 63px);
  left: 0;
  width: 100%;
  height: calc(100vh - 56.25vw - 63px);
  padding-bottom: var(--unit-16x);
  background-color: var(--black-300);
  overflow-y: scroll;
}
.video__comments--mobile .comments__content::-webkit-scrollbar {
  width: 0;
}
.video__comments--mobile .comments__content header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--unit-8x);
  margin-bottom: var(--unit-8x);
}
.video__comments--mobile .comments__content--active {
  display: block;
}
.video__comments--mobile .comments__header {
  position: fixed;
  top: calc(63px + 56.25vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--unit-8x) 5%;
  border-bottom: 1px solid var(--black-100);
  background-color: var(--black-300);
  z-index: 1;
}
.video__comments--mobile .comments__header strong {
  font-size: var(--unit-9x);
  font-weight: 500;
}
.video__comments--mobile .comments__header img {
  height: var(--unit-10x);
}
.video__comments--mobile .comments__sort-by {
  display: flex;
  gap: var(--unit-4x);
  overflow-x: auto;
  margin-top: 4.57rem;
}
.video__comments--mobile .comments__sort-by button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  height: var(--unit-18x);
  padding: 0 var(--unit-8x);
  font-size: var(--unit-7x);
  text-align: center;
  background-color: var(--black-200);
  border-radius: var(--unit-20x);
  transition: background-color 0.1s;
}
.video__comments--mobile .comments__sort-by button:hover {
  background-color: var(--black-100);
}
.video__comments--mobile .comments__sort-by::-webkit-scrollbar {
  height: 0;
}
.video__comments--mobile .comments__warning {
  padding: var(--unit-4x) 5%;
  background-color: var(--black-200);
}
.video__comments--mobile .comments__warning span {
  color: var(--blue-200);
  cursor: pointer;
}
.video__comments--mobile .comment {
  display: flex;
  gap: var(--unit-8x);
}
.video__comments--mobile .comment__container {
  display: flex;
  flex-direction: column;
  gap: var(--unit-8x);
  width: 100%;
}
.video__comments--mobile .comment__wrapper {
  display: flex;
  gap: var(--unit-6x);
}
.video__comments--mobile .comment__wrapper-2 {
  display: flex;
  flex-direction: column;
  gap: var(--unit-8x);
}
.video__comments--mobile .comment__content header {
  font-size: var(--unit-7x);
  opacity: 0.75;
  margin-bottom: var(--unit-2x);
}
.video__comments--mobile .comment__feedback {
  display: flex;
  margin-left: -1rem;
}
.video__comments--mobile .comment__feedback div {
  display: flex;
  align-items: center;
  border-radius: var(--unit-20x);
  overflow: hidden;
}
.video__comments--mobile .comment__feedback div button {
  display: flex;
  align-items: center;
  gap: var(--unit-4x);
  padding: var(--unit-3x) var(--unit-8x);
  font-size: var(--unit-7x);
}
.video__comments--mobile .comment__feedback div button img {
  height: var(--unit-8x);
}
.video__comments--mobile .comment__feedback div button:hover {
  background-color: var(--black-100);
}
.video__comments--mobile .comment__feedback div span {
  display: inline-block;
  width: 1px;
  height: 70%;
  background-color: var(--white-200);
}
.video__comments--mobile .comment__options {
  display: flex;
}
.video__comments--mobile .comment__options span {
  transform: rotate(90deg);
}
.video__comments--mobile .comment__answers__content {
  display: none;
  flex-direction: column;
  gap: var(--unit-8x);
  margin-bottom: var(--unit-8x);
}
.video__comments--mobile .comment__answers__content .comment__container {
  flex-direction: row;
}
.video__comments--mobile .comment__answers__expand {
  margin-left: -1rem;
  display: flex;
  align-items: center;
  gap: var(--unit-4x);
  padding: var(--unit-3x) var(--unit-8x);
  color: var(--blue-200);
  border-radius: var(--unit-20x);
}
.video__comments--mobile .comment__answers__expand img {
  height: var(--unit-8x);
}
.video__comments--mobile .comment__answers__expand:hover {
  background-color: var(--blue-100);
}
.video__comments--mobile .comment__answers--active .comment__answers__content {
  display: flex;
}
.video__comments--mobile .comment__answers--active .comment__answers__expand img {
  transform: rotate(180deg);
}
.video__description--desktop {
  display: none;
  position: relative;
  height: 7rem;
  padding: var(--unit-6x);
  border-radius: var(--unit-6x);
  background-color: var(--black-200);
  cursor: pointer;
}
.video__description--desktop * {
  font-size: var(--unit-7x);
}
.video__description--desktop .description__container {
  height: calc(7rem - var(--unit-15x));
  overflow: hidden;
}
.video__description--desktop .description__infos {
  margin-bottom: var(--unit-8x);
}
.video__description--desktop .description__infos span {
  opacity: 0.75;
  transform: translateY(7.5%);
}
.video__description--desktop .description__infos span:last-child {
  opacity: 1;
}
.video__description--desktop .description__infos span:last-child strong {
  font-weight: 500;
}
.video__description--desktop .description__more-less {
  position: absolute;
  bottom: var(--unit-7x);
  left: var(--unit-50x);
  width: calc(100% - var(--unit-50x) - var(--unit-5x));
  height: var(--unit-10x);
  background-color: var(--black-200);
  box-shadow: -10px 0px 10px 5px var(--black-200);
}
.video__description--desktop .description__more-less strong {
  font-weight: 500;
}
.video__description--desktop .description__less {
  display: none;
}
.video__description--desktop--active {
  height: initial;
  cursor: initial;
}
.video__description--desktop--active .description__container {
  height: initial;
  overflow: initial;
}
.video__description--desktop--active .description__more-less {
  position: static;
  margin-top: var(--unit-8x);
  box-shadow: none;
}
.video__description--desktop--active .description__more {
  display: none;
}
.video__description--desktop--active .description__less {
  display: inline-block;
}

/*# sourceMappingURL=custom.css.map */
